<app-main-layout>
    <section header>
        <h1>
            Find Public API's
        </h1>
        <div class="search-wrapper">
            <app-search></app-search>
        </div>
    </section>
    <section aside>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category">
                <option>All</option>
            </select>
        </div>
        <div class="form-group">
            <label for="protocol">Protocol</label>
            <select class="form-control" id="protocol">
                <option>All</option>
            </select>
        </div>
    </section>
    <section main>
        <router-outlet></router-outlet>
    </section>
</app-main-layout>